---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Sobre mi | ATETA"
    description="En esta seccion te hablo sobre mi, la vendedora de estos productos de calidad y a buen precio."
>
    <main
        class="flex flex-row justify-center items-center xs:h-[844px] w-[390px]"
    >
        <div class="flex flex-col justify-center items-center -mt-20">
            <h2 class="text-[#BCA2F2] text-2xl">Sobre mi</h2>
            <video
                src="/video/cover.mp4"
                autoplay
                loop
                muted
                class="xs:w-[350px] rounded-xl mt-4"
            >
            </video>
            <div
                class="text-2xl text-[#18181B] text-start flex flex-col justify-center items-center gap-5 mt-10 xs:w-[350px]"
            >
                <p>
                    Nuestra tienda es un tesoro de cosméticos de calidad,
                    cuidadosamente seleccionados.
                </p>
                <p>
                    He guardado estos productos con esmero, asegurándome de que
                    estén en perfecto estado y dentro de su período de uso.
                </p>
                <p>
                    Ahora, estamos encantados de ofrecerte estos cosméticos a
                    precios más bajos que los del mercado.
                </p>
            </div>
        </div>
    </main>
</Layout>
