---
import Layout from "../layouts/Layout.astro";
import newArray from "../db/new.json";
import CardNew from "../components/CardNew.astro";
---

<Layout
    title="Nuevos productos | semanales"
    description="En esta secci칩n encontrar치s los nuevos productos que se agreguen durante la semana"
>
    <main class="flex justify-center items-center mb-20">
        <div
            class="flex flex-col items-center mt-10"
        >
            <h2 class="text-[#BCA2F2] text-2xl">Agregados recientes</h2>
            <p class="text-2xl text-[#18181B] text-center mt-5 w-[400px]">
                En esta secci칩n se mostrar치n los productos agregados
                recientemente por semana.
            </p>
            <div class="grid xs:grid-cols-1 gap-5 pt-10">
                {
                    newArray.map((item) => (
                        <CardNew
                            title={item.title}
                            price={item.price}
                            star={item.star}
                            img={item.img}
                        />
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
