---
import Layout from "../layouts/Layout.astro";
import ProductsPage from "../components/ProductsPage";
---

<Layout
    title="Mis productos | ATETA"
    description="En esta sección encontrarás todos los productos que se agreguen incluso los nuevos que se agregan durante la semana"
>
    <main>
        <ProductsPage client:visible />
    </main>
</Layout>
