---
interface Props {
    title: string;
    price: number;
    star: number;
    img: number;
}
const { title, price, star, img } = Astro.props;
---

<div class="bg-yellow-100 border rounded-xl p-5 flex flex-col gap-1 shadow-md shadow-gray-600">
    <div class="flex flex-col">
        <img
            src={`/img/new/new-${img}.png`}
            alt="Image for example"
            class="w-60 h-60 rounded-xl"
            decoding="async"
            loading="lazy"
        />
    </div>
    <div class="flex flex-col gap-1">
        <h3>{title}</h3>
        <p class="font-semibold">{`$ ${price}`}</p>
    </div>
    <div class="flex justify-start items-center">
        <p class="text-blue-500 font-semibold"># Estado</p>
        <img
            src={`/img/star/star-${star}.png`}
            alt="Star to products"
            class="w-auto"
        />
    </div>
</div>
