---

---

<header class="flex justify-center items-center">
    <nav class="flex justify-between items-center mt-12 w-[1024px]">
        <p class="font-bold text-4xl">ATETA</p>
        <ol class="flex flex-row gap-20 items-center">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/new">Nuevo</a></li>
            <a
                href="/products"
                class="bg-[#BCA2F2] w-36 h-11 rounded-lg flex items-center justify-center text-white"
                >Ver productos</a
            >
        </ol>
    </nav>
</header>
